<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.commit.project2.mapper.RegionMapper">
  <resultMap id="region" type="com.commit.project2.dto.RegionDTO">
    <id column="REGION_ID" property="regionId"/>
    <result column="REGION_NAME" property="regionName"/>
  </resultMap>

  <!--지역 조회 쿼리-->
  <select id="getRegions" resultMap="region">
    SELECT * FROM REGION
  </select>

  <!--특정 지역 조회 쿼리-->
  <select id="getRegionName" resultType="String">
    SELECT REGION_NAME FROM REGION WHERE REGION_ID = #{regionId}
  </select>

  <!--API 1. 지역목록 + 2025년 연간 공급량, 인구(응답 : RegionSummaryDTO / 가장 최근 1년치 자료 = 2025년)-->
  <select id="getRegionSummaries" resultType="com.commit.project2.dto.RegionSummaryDTO">
    SELECT
      r.REGION_ID AS id,
      r.REGION_NAME AS name,
      ROUND(SUM(g.SUPPLY) / 1000, 1) AS supply,
      ROUND((AVG(g.POPULATION) / 10000), 1) AS pop
    FROM region r
    INNER JOIN gas_monthly g
    ON g.REGION_ID = r.REGION_ID
    AND g.YM LIKE '2025%'
    WHERE r.REGION_NAME != '전국'
    GROUP BY r.REGION_ID, r.REGION_NAME
    ORDER BY r.REGION_ID
  </select>
</mapper>































